.input_verification {
    font-family: Barlow!important;
    font-style: normal!important;
    font-weight: 500!important;
    font-size: 24px!important;
    color: #848484!important;
    border: none;
    border-bottom: 1px solid #E6E8EE;
    border-radius: 0;
    text-align: center;
}
.btn_confirm_account {
    background: #A5CE36!important;
    border: 1px solid #A5CE36;
    height: 41px;
    margin-top: 20px;
    margin-bottom: 25px;
}
.col_main_login form .form-group {
    margin-bottom: 20px;
}
.btn_verification {
    background: #A5CE36!important;
    border: 1px solid #A5CE36;
    height: 41px;
    margin-top: 20px;
    margin-bottom: 25px;
}
.btn_change_password {
    background: #A5CE36!important;
    border: 1px solid #A5CE36;
    height: 41px;
    margin-top: 20px;
    margin-bottom: 25px;
}