
@font-face {
    src: url(../fonts/Barlow-Black.ttf);
    font-family: Barlow;
}
@font-face {
    src: url(../fonts/Fonticonui1.ttf);
    font-family: UI1;
}
@font-face {
    src: url(../fonts/Vbutlong.ttf);
    font-family: butlong;
}
/*reset css*/
*{margin: 0; padding: 0; font-family: 'Barlow', sans-serif; color: #333333} 
a {
    text-decoration: none;
}

#section-1 {
    /* Size of fixed header */
    padding-bottom: 84px;
    display: block;
}
/*css cho header 27/07/2020 byhathao */
.background_header {
    background: #fff!important;

}

nav.navbar.navbar-light.bg-faded.menu_top {
    background: #fff;
    border-bottom: 1px solid #E6E8EE!important;
}
.display-none {
    display: none;
}
.container.container_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img_logo {
    height: 60px;
}
/*nav-item.menu_item.active a.nav-link.menu_link {
    color: #A5CE36!important;
}*/
.nav-item.menu_item {
    margin-left: 20px!important;
}
.nav-item.menu_item.menu_item_login {
    margin-left: 50px!important;
}
ul.nav.navbar-nav.float-xl-right {
    display: flex;
    align-items: center;
}
a.nav-link.menu_link {
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #333333!important;
}
a.nav-link.menu_link:hover {
    color: #A5CE36!important;
    transition: 0.2s;
}

a.nav-link.menu_link.menu_link_cart {
    position: relative;
}
a.nav-link.menu_link.menu_link_cart:hover .icon-shopping-cart {
    color: #A5CE36!important;
    transition: 0.2s;
}
.icon-open-lock {
    margin-right: 5px;
}
span.number_pro_cart.cart {
    border-radius: 50%;
    text-align: center;
    position: absolute;
    width: 21px;
    height: 21px;
    line-height: 21px;
    background: #FF3F34;
    top: -20%;
    right: -64%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.btn.dropdown-toggle.btn-language {
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
    padding-right: 0;
    padding-top: 0;
}
.dropdown-toggle::after {
    margin-left: 10px;
}
.dropdown-menu.dropdown-language {
    padding: 6px 0;
    width: 100%!important;
    top: 90%;
    min-width: 56px;
    left: 0;
    border-radius: 0;
}
.dropdown-language a {
    color: #333333;
    font-weight: bold;
    padding: 6px;
    text-align: center;
    border-bottom: 1px solid #fff;
}
.dropdown-language a:hover {
    color: #A5CE36;
}
/*css cho breadcrumb_wrapper*/
.breadcrumb.breadcrumb_wrapper {
    
    background: #fff!important;
    margin-bottom: 0;
}
li.breadcrumb-item.active .active {
    color: #A5CE36!important;
}
.breadcrumb-item a {
    color: #333333!important;
}
.breadcrumb-item a:hover {
    color: #A5CE36!important;
    transition: 0.2s;
}
.breadcrumb-item a:hover span {
    color: #A5CE36!important;
    transition: 0.2s;
}
/*query media*/
/*css cho mobile*/
@media only screen and (min-width: 260px) and (max-width: 576px) {
    * {

    }
    /*.active {
        color: #fff!important;
    }*/
    #section-1 {
        /* Size of fixed header */
        padding-bottom: 75px;
        display: block;
    }
    nav.navbar.navbar-light.bg-faded.menu_top {
        background: #fff!important;
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .container.container_menu {
        display: flex;
        justify-content: space-between;
    }
    .wrapper_menu {
        width: 230px;
        height: auto;
        position: absolute;
        z-index: 999;
        top: 75%;
        background-color: #A5CE36;
        box-shadow: 0px 2px 11px 1px rgba(168, 168, 168, 0.54);
    }
    ul.nav.navbar-nav.float-xl-right {
        display: flex;
        flex-direction: column;
    }
    button.navbar-toggler.hidden-xl-up.float-lg-left {
        position: absolute;
    }
    .link_logo {
        display: block;
        margin: 0 auto;
        padding-left: 48px;
    }
    img.img_logo {
        height: 40px;
    }
    li.nav-item.menu_item {
        border-bottom: solid 1px rgba(0, 0, 0, 0.075)!important;
        margin: 0!important;
        width: 100%;
    }
    .nav-item.menu_item.menu_item_login {
        margin-left: 0px!important;
    }
    a.nav-link.menu_link {
        padding: 10px 20px;
    }

    
    a.nav-link.menu_link.menu_link_cart.display-none {
        display: block;
        padding: 10px 0!important;
    }
    span.number_pro_cart.cart {
        left: 52%;
        top: -5%;
    }

    li.nav-item.menu_item.menu_item_cart {
        display: none;
    }
    .icon-shopping-cart.icon-cart-header.icon-cart-header::before {
        font-size: 35px;
    }
    li.nav-item.menu_item.menu_item_language {
    /* display: none; */
    }
    li.nav-item.menu_item:hover {
        background: #fff;
    }

    li.nav-item.menu_item:hover a.nav-link.menu_link {
        color: #333333!important;
    }
}

/*css cho tablet*/
@media only screen and (min-width: 577px) and (max-width: 767px) {
    * {

    }
    /*.active {
        color: #fff!important;
    }*/
    nav.navbar.navbar-light.bg-faded.menu_top {
        background: #fff!important;
        border-radius: 0;
    }
    .container.container_menu {
        display: flex;
        justify-content: space-between;
    }
    .wrapper_menu {
        width: 230px;
        height: 350px;
        position: absolute;
        z-index: 999;
        top: 75%;
        background-color: #A5CE36;
        box-shadow: 0px 2px 11px 1px rgba(168, 168, 168, 0.54);
    }
    ul.nav.navbar-nav.float-xl-right {
        display: flex;
        flex-direction: column;
    }
    button.navbar-toggler.hidden-xl-up.float-lg-left {
        position: absolute;
    }
    .link_logo {
        display: block;
        margin: 0 auto;
       
    }
    li.nav-item.menu_item {
        border-bottom: solid 1px rgba(0, 0, 0, 0.075)!important;
        margin: 0!important;
        width: 100%;
    }
    .nav-item.menu_item.menu_item_login {
        margin-left: 0px!important;
    }
    a.nav-link.menu_link {
        padding: 10px 20px;
    }
    a.nav-link.menu_link.menu_link_cart.display-none {
        display: block;
        padding: 10px 0!important;
    }
    span.number_pro_cart.cart {
        left: 66%;
        top: -10%;
    }
    li.nav-item.menu_item.menu_item_cart {
        display: none;
    }
    .icon-shopping-cart.icon-cart-header::before {
        font-size: 35px;
    }
    li.nav-item.menu_item.menu_item_language {
        display: none;
    }
    li.nav-item.menu_item:hover {
        background: #fff;
    }

    li.nav-item.menu_item:hover a.nav-link.menu_link {
        color: #333333!important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px){
    * {
        
    }
    /*.active {
        color: #fff!important;
    }*/
    nav.navbar.navbar-light.bg-faded.menu_top {
        background: #fff!important;
        border-radius: 0;
    }
    .container.container_menu {
        display: flex;
        justify-content: space-between;
    }
    .wrapper_menu {
        width: 230px;
        height: auto;
        position: absolute;
        z-index: 999;
        top: 75%;
        background-color: #A5CE36;
        box-shadow: 0px 2px 11px 1px rgba(168, 168, 168, 0.54);
    }
    ul.nav.navbar-nav.float-xl-right {
        display: flex;
        flex-direction: column;
    }
    button.navbar-toggler.hidden-xl-up.float-lg-left {
        position: absolute;
    }
    .link_logo {
        display: block;
        margin: 0 auto;
       
    }
    li.nav-item.menu_item {
        border-bottom: solid 1px rgba(0, 0, 0, 0.075)!important;
        margin: 0!important;
        width: 100%;
    }
    .nav-item.menu_item.menu_item_login {
        margin-left: 0px!important;
    }
    a.nav-link.menu_link {
        padding: 10px 20px;
    }
    a.nav-link.menu_link.menu_link_cart.display-none {
        display: block;
        padding: 10px 0!important;
    }
    span.number_pro_cart.cart {
        left: 52%;
    }
    li.nav-item.menu_item.menu_item_cart {
        display: none;
    }
    .icon-shopping-cart.icon-cart-header::before {
        font-size: 35px;
    }
    li.nav-item.menu_item.menu_item_language {
    /* display: none; */
    }
    li.nav-item.menu_item:hover {
        background: #fff;
    }

    li.nav-item.menu_item:hover a.nav-link.menu_link {
        color: #333333!important;
    }

}
@media only screen and (min-width: 1200px) {
    * {
        
    }
    a.nav-link.menu_link:hover .icon-open-lock {
        color: #A5CE36!important;
        transition: 0.2s;
    }
}
@media only screen and (max-height: 415px) and (max-width: 823px) {
    * {

    }
    .wrapper_menu {
        height: 200px;
        overflow-y: scroll;
    }
}
