.right-search{
	display: flex;
    justify-content: flex-end;
    align-items: center;
}
.right-search  .result_search{
	margin-right: 30px;
}
.right-search  .result_search span{
	color: #FF3F34;
	font-size: 16px;
line-height: 24px;
}
.ketqua-search{
	line-height: 40px;
	margin-bottom: 0;
	font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #333333;
}
.ketqua-search span{
	color: #A5CE36
}
.border-bottom{
	border-bottom: 1px solid #ddd;
	padding-top: 25px;
}

.row-ketqua{
	padding-top: 50px;
	padding-bottom: 20px;
}
.pd-bot-50{
	padding-bottom: 50px;
}
@media (max-width: 469px){
	
.row-ketqua  .col-xs-6{
	max-width: 100%;
	    flex: 0 0 100%;
}
.right-search{
	margin-top: 20px;
}
}
/*style 404*/

.bg{
	position:relative;
}
.img-404{
font-weight: 500;
 font-size: 130px;
 text-align: center;
 opacity: 0.7;
 color: #848484;
}
.img-404 img{
	margin-bottom: 20px;
}
.content-404{
text-align: center;
}
.content-404 p{
	font-size: 16px;
line-height: 24px;
color: #666666;
}
.button-404{
	margin-top: 50px;
}
.button-404 .quaylai{
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #666666;
border: 1px solid #E6E8EE;
box-sizing: border-box;
border-radius: 4px;
background: #F2F3F8;
padding: 12px 30px;
margin-right: 10px;
}
.button-404 .trangchu{
	background: #A5CE36;
border-radius: 4px;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
padding: 12px 30px;
}
@media (max-width: 360px){
.img-404{
	font-size: 120px;
}
}