<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Blog chi tiết</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../vendor/bootstrap.js"></script>
    <script src="../main/main.js"></script>
    <link rel="stylesheet" href="../vendor/bootstrap.css">
    <link rel="stylesheet" href="../vendor/font-awesome.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/banner.css">
    <link rel="stylesheet" href="../css/homepage.css">
    <link rel="stylesheet" href="../css/foods.css">
    <link rel="stylesheet" href="../css/chat.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/cart_checkout.css">
    <link rel="stylesheet" type="text/css" href="../css/slick.css">
    <link rel="stylesheet" type="text/css" href="../css/slick-theme.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../vendor/style.css">
    <link rel="stylesheet" href="../css/view.css">
    <link rel="stylesheet" href="../css/cooking_recipe.css">
    <link rel="stylesheet" href="../css/blog_detail.css">

</head>

<body>
    <nav class="navbar navbar-light bg-faded navbar-fixed-top menu_top">
        <div class="container container_menu">

            <a class="navbar-brand link_logo" href="homepage.html"><img class="img_logo " src="../images/logo.png" alt=""></a>
            <!-- cart mobile -->
            <div class="dropdown">
                <a class="nav-link menu_link menu_link_cart display-none" href="#">
                    <span class="icon-shopping-cart icon-cart-header"></span>
                    <span class="number_pro_cart cart">0</span>
                </a>
                <div class="dropdown-content">
                    <p>Sản phẩm mới thêm</p>
                    <!-- cart list mobile 1 -->
                    <div class="cart_listMB">
                        <a href="http://">
                            <img src="../images/category_4.png" alt="" width="20%;">
                        </a>
                        <div class="cart_listMB-content">
                            <span class="cart_listMB-name"><a href="http://">Phở bò tái chín</a></span>
                            <span class="cart_listMB-price">150.000 đ</span>
                        </div>
                        <div class="cart_listMB-content">
                            <span class="cart_listMB-type">Phân loại:Không hành,thêm thịt</span>
                            <span class="cart_listMB-del">
                                Xóa
                            </span>
                        </div>
                    </div>
                    <!-- cart list mobile 2 -->
                    <div class="cart_listMB">
                        <a href="http://">
                            <img src="../images/category_4.png" alt="" width="20%;">
                        </a>
                        <div class="cart_listMB-content">
                            <span class="cart_listMB-name"><a href="http://">Phở bò tái chín</a></span>
                            <span class="cart_listMB-price">150.000 đ</span>
                        </div>
                        <div class="cart_listMB-content">
                            <span class="cart_listMB-type">Phân loại:Không hành,thêm thịt</span>
                            <span class="cart_listMB-del">
                                Xóa
                            </span>
                        </div>
                    </div>
                    <!-- cart list mobile 3 -->
                    <div class="cart_listMB">
                        <a href="http://">
                            <img src="../images/category_4.png" alt="" width="20%;">
                        </a>
                        <div class="cart_listMB-content">
                            <span class="cart_listMB-name"><a href="http://">Phở bò tái chín</a></span>
                            <span class="cart_listMB-price">150.000 đ</span>
                        </div>
                        <div class="cart_listMB-content">
                            <span class="cart_listMB-type">Phân loại:Không hành,thêm thịt</span>
                            <span class="cart_listMB-del">
                                Xóa
                            </span>
                        </div>
                    </div>
                    <!-- cart list mobile 4 -->
                    <div class="cart_listMB">
                        <a href="http://">
                            <img src="../images/category_4.png" alt="" width="20%;">
                        </a>
                        <div class="cart_listMB-content">
                            <span class="cart_listMB-name"><a href="http://">Phở bò tái chín</a></span>
                            <span class="cart_listMB-price">150.000 đ</span>
                        </div>
                        <div class="cart_listMB-content">
                            <span class="cart_listMB-type">Phân loại:Không hành,thêm thịt</span>
                            <span class="cart_listMB-del">
                                Xóa
                            </span>
                        </div>
                    </div>
                    <!-- cart list mobile 5 -->
                    <div class="cart_listMB">
                        <a href="http://">
                            <img src="../images/category_4.png" alt="" width="20%;">
                        </a>
                        <div class="cart_listMB-content">
                            <span class="cart_listMB-name"><a href="http://">Phở bò tái chín</a></span>
                            <span class="cart_listMB-price">150.000 đ</span>
                        </div>
                        <div class="cart_listMB-content">
                            <span class="cart_listMB-type">Phân loại:Không hành,thêm thịt</span>
                            <span class="cart_listMB-del">
                                Xóa
                            </span>
                        </div>
                    </div>
                    <div class="cart_listMB-button">
                        <a href="../view/cart.html"><button>Xem giỏ hàng</button></a>
                    </div>
                </div>
            </div>
            <div class="btn-group display-none">
                <a href="" class="btn dropdown-toggle btn-language" data-toggle="dropdown"><img src="../images/flag.svg" alt=""></a>
                <div class="dropdown-menu dropdown-language">
                    <a href="" class="dropdown-item"><img src="../images/flag.svg" alt=""></a>

                </div>
            </div>
            <button class="navbar-toggler hidden-xl-up float-lg-left" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
            
            </button>
            <div class="collapse navbar-toggleable-lg wrapper_menu" id="exCollapsingNavbar2">

                <ul class="nav navbar-nav float-xl-right">
                    <li class="nav-item menu_item active">
                        <a class="nav-link menu_link" href="homepage.html">Trang chủ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item menu_item">
                        <a class="nav-link menu_link" href="dish.html">Đồ ăn</a>
                    </li>
                    <li class="nav-item menu_item">
                        <a class="nav-link menu_link" href="foods.html">Thực phẩm</a>
                    </li>
                    <li class="nav-item menu_item">
                        <a class="nav-link menu_link" href="grocery.html">Tạp hóa</a>
                    </li>
                    <li class="nav-item menu_item">
                        <a class="nav-link menu_link" href="party_menu.html">Thực đơn tiệc</a>
                    </li>
                    <li class="nav-item menu_item">
                        <a class="nav-link menu_link" href="#">Tạo thực đơn</a>
                    </li>
                    <li class="nav-item menu_item menu_item_login">
                        <a class="nav-link menu_link" href="login.html"><span class="icon-open-lock"></span>Đăng nhập</a>
                    </li>
                    <li class="nav-item menu_item menu_item_cart">

                        <!-- cart desktop -->
                        <div class="dropdown">
                            <a class="nav-link menu_link menu_link_cart" href="../view/cart.html">
                                <span class="icon-shopping-cart"></span>
                                <span class="number_pro_cart cart">0</span>
                            </a>
                            <div class="dropdown-content1">
                                <p>Sản phẩm mới thêm</p>
                                <!-- cart list desktop 1 -->
                                <div class="row cart_list">
                                    <div class="col-md-3 cart_list-pd">
                                        <a href="http://">
                                            <img src="../images/category_4.png" alt="" width="100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-6 cart_list-pd">
                                        <h6><a href="http://">Phở bò tái chín</a></h6>
                                        <p class="type">Phân loại:Không hành,thêm thịt</p>
                                    </div>
                                    <div class="col-md-3 cart_list-pd" style="margin-top:10px;">
                                        <p class="cart_list-price">150.000 đ</p><br>
                                        <a href="#"><span class="cart_list-del">Xóa</span></a>
                                    </div>
                                </div>
                                <!-- cart list desktop 2 -->
                                <div class="row cart_list">
                                    <div class="col-md-3 cart_list-pd">
                                        <a href="http://">
                                            <img src="../images/category_4.png" alt="" width="100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-6 cart_list-pd">
                                        <h6><a href="http://">Phở bò tái chín</a></h6>
                                        <p class="type">Phân loại:Không hành,thêm thịt</p>
                                    </div>
                                    <div class="col-md-3 cart_list-pd" style="margin-top:10px;">
                                        <p class="cart_list-price">150.000 đ</p><br>
                                        <a href="#"><span class="cart_list-del">Xóa</span></a>
                                    </div>
                                </div>
                                <!-- cart list desktop 3 -->
                                <div class="row cart_list">
                                    <div class="col-md-3 cart_list-pd">
                                        <a href="http://">
                                            <img src="../images/category_4.png" alt="" width="100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-6 cart_list-pd">
                                        <h6><a href="http://">Phở bò tái chín</a></h6>
                                        <p class="type">Phân loại:Không hành,thêm thịt</p>
                                    </div>
                                    <div class="col-md-3 cart_list-pd" style="margin-top:10px;">
                                        <p class="cart_list-price">150.000 đ</p><br>
                                        <a href="#"><span class="cart_list-del">Xóa</span></a>
                                    </div>
                                </div>
                                <!-- cart list desktop 4 -->
                                <div class="row cart_list">
                                    <div class="col-md-3 cart_list-pd">
                                        <a href="http://">
                                            <img src="../images/category_4.png" alt="" width="100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-6 cart_list-pd">
                                        <h6><a href="http://">Phở bò tái chín</a></h6>
                                        <p class="type">Phân loại:Không hành,thêm thịt</p>
                                    </div>
                                    <div class="col-md-3 cart_list-pd" style="margin-top:10px;">
                                        <p class="cart_list-price">150.000 đ</p><br>
                                        <a href="#"><span class="cart_list-del">Xóa</span></a>
                                    </div>
                                </div>
                                <!-- cart list desktop 5 -->
                                <div class="row cart_list">
                                    <div class="col-md-3 cart_list-pd">
                                        <a href="http://">
                                            <img src="../images/category_4.png" alt="" width="100%;">
                                        </a>
                                    </div>
                                    <div class="col-md-6 cart_list-pd">
                                        <h6><a href="http://">Phở bò tái chín</a></h6>
                                        <p class="type">Phân loại:Không hành,thêm thịt</p>
                                    </div>
                                    <div class="col-md-3 cart_list-pd" style="margin-top:10px;">
                                        <p class="cart_list-price">150.000 đ</p><br>
                                        <a href="#"><span class="cart_list-del">Xóa</span></a>
                                    </div>
                                </div>
                                <div class="cart_listMB-button">
                                    <a href="../view/cart.html"><button>Xem giỏ hàng</button></a>
                                </div>
                            </div>
                        </div>

                    </li>
                    <li class="nav-item menu_item menu_item_language">

                        <div class="btn-group ">
                            <a href="" class="btn dropdown-toggle btn-language" data-toggle="dropdown"><img src="../images/flag.svg" alt=""></a>
                            <div class="dropdown-menu dropdown-language">
                                <a href="" class="dropdown-item"><img src="../images/flag.svg" alt=""></a>

                            </div>
                        </div>

                    </li>
                </ul>
            </div>


        </div>
    </nav>
    <!-- finish menu_top -->

    <div id="section-1">
        <span></span>
    </div>
    <nav aria-label="breadcrumb">

        <ol class="breadcrumb breadcrumb_wrapper">
            <div class="container">
                <li class="breadcrumb-item"><a href="homepage.html"><span class="icon-home"></span></a></li>
                <li class="breadcrumb-item"><a href="cooking_recipe.html" class="">Công thức nấu ăn</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="blog_detail.html" class="active">Đậu phụ mà nấu kiểu này vừa ngon bổ mà lại còn rẻ, bữa tối nhà bạn sẽ hết bay cả nổi cơm!</a></li>

            </div>
        </ol>

    </nav>
    <!-- finish breadcrumb -->
    <div class="banner banner_foods banner_cooking_recipe">
        <div class="container container_banner">

            <div class="row row_search">
                <div class="col-xl-12">
                    <div class="wrapper_search">
                        <div class="search">
                            <span class="icon-search icon_search"></span>
                            <form>
                                <fieldset class="form-group form-group-search">
                                    <label for="formGroupExampleInput" class="label_search label_group">Tìm kiếm</label>
                                    <input type="text" class="form-control no-border" id="formGroupExampleInput" placeholder="Tìm kiếm Tên món ăn, thực phẩm, đồ dùng, ...">
                                </fieldset>

                            </form>
                        </div>
                        <div class="area">
                            <span class="icon-location-pin icon-location-banner icon_search"></span>
                            <form>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1" class="label_area label_group">Khu vực</label>
                                    <select class="form-control no-border" id="exampleFormControlSelect1">

                                      <option>TP Hồ Chí Minh</option>
                                      <option>Hà Nội</option>
                                      <option>Hải Phòng</option>
                                      <option>Quảng Ninh</option>
                                      <option>Đà Nẵng</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="category">
                            <span class="icon-stats icon_search"></span>
                            <form>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect2" class="label_category label_group">Danh mục</label>
                                    <select class="form-control no-border" id="exampleFormControlSelect2">
                                      <option>Thực phẩm</option>
                                      <option>Món ăn</option>
                                      <option>Tạp hóa</option>
                                      <option>Thực đơn tiệc</option>
                                      
                                    </select>

                                </div>
                            </form>
                        </div>
                        <div class="wrapper_btn_search">
                            <button type="button" class="btn btn-primary btn_search">Tìm kiếm</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row row-help">
                <div class="col-xl-8 push-xl-2 text-xs-center">
                    <span class="text-white mr-1 text-help">Để chúng tôi giúp bạn?</span>
                    <span class="green-white text-help">Tìm thứ gì đó gần tôi</span>
                </div>
            </div>

        </div>
    </div>
    <!-- finish banner -->
    <div class="section_blog_intro">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-12 col_blog_main">
                    <div class="row">
                        <div class="col-xl-12">

                            <img src="../images/blog_detail.png" alt="" class="img-fluid">
                            <div class="container_blog_detail">
                                <div class="header_blog_detail">
                                    <div class="topic_blog">
                                        <h6 class="name_topic_blog">Món ăn tối</h6>
                                        <span class="time_news time_blog_detail">12.01.2019</span>
                                    </div>
                                    <div class="share">
                                        <span class="share_text"><span class="icon-share"></span> Chia sẻ: </span>
                                        <a class="btn btn_share btn_share_facebook"><span class="icon-facebook"></span></a>
                                        <a type="button" class="btn btn_share btn_share_twitter"><span class="icon-twitter"></span></a>
                                    </div>
                                </div>
                                <br>
                                <h2 class="title_blog">
                                    Đậu phụ mà nấu kiểu này vừa ngon bổ mà lại còn rẻ, bữa tối nhà bạn sẽ hết bay cả nồi cơm!
                                </h2>
                                <br>
                                <p class="content_blog_detail">
                                    Chỉ là món thịt và đậu phụ quen thuộc thôi nhưng khi om với chút nấm hương lại mềm ngọt và ngon cơm vô cùng!
                                </p>
                                <h5 class="item_content_blog">Nguyên liệu</h5>
                                <ul style="list-style: disc;">
                                    <li style="list-style: disc; list-style-position: inside;">150g thịt lợn</li>
                                    <li style="list-style: disc; list-style-position: inside;">6 tai nấm hương tươi</li>
                                    <li style="list-style: disc; list-style-position: inside;">300g đậu phụ</li>
                                    <li style="list-style: disc; list-style-position: inside;">10g hành lá, 2 tép tỏi, 1 mẩu gừng</li>
                                    <li style="list-style: disc; list-style-position: inside;">15ml nước tương, 15ml dầu hào</li>
                                    <li style="list-style: disc; list-style-position: inside;"> 240ml nước lọc</li>
                                    <li style="list-style: disc; list-style-position: inside;">Gia vị xốt: 1 thìa canh tinh bột ngô, 75ml nước lọc, 2g bột hạt tiêu đen, 2g muối</li>

                                </ul>
                                <h5 class="item_content_blog">Cách làm</h5>
                                <p>Đậu phụ rửa qua rồi ngâm trong nước sôi pha chút muối trong 3 phút sau đó cắt thành miếng vừa ăn. Thịt lợn rửa sạch băm nhỏ. Nấm hương rửa sạch thái khối nhỏ.</p>
                                <img src="../images/dauphuthanhmieng.png" alt="" style="width: 100%;">
                                <p style="text-align: center;" class="text-muted"><small>Đậu cắt thành miếng</small></p>
                                <p>Tỏi gừng băm nhỏ, gốc hành thái nhỏ. Lấy phần gia vị xốt cho vào bát rồi hòa đều và để sang một bên. Đun nóng chút dầu ăn trong chảo, cho tỏi gừng và gốc hành vào xào thơm sau đó đổ thịt băm vào đảo tơi cho thịt chuyển
                                    màu trắng.</p>
                                <h5 class="item_content_blog">Thành phẩm</h5>
                                <p>Món đậu phụ thịt băm om nấm có mùi thơm hấp dẫn đặc trưng chắc chắn sẽ khơi dậy sự thèm ăn của bạn và gia đình. Đậu phụ mềm và mịn, nấm hương thơm nức quyện với vị ngọt của thịt băm ngon cơm vô cùng.</p>
                                <img src="../images/thanhpham.png" alt="" style="width: 100%;">
                                <p style="text-align: center;" class="text-muted"><small>Chúc bạn làm được món đậu phụ thịt băm om nấm thật ngon nhé!</small></p>
                            </div>

                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="wrapper_before_blog wrapper_other_blog">


                                <a href="#" class="link_before_blog link_other_blog"><span class="icon-left-arrow-2 icon_before_blog"></span>Bài trước</a>
                                <a href="" class="name_before_blog name_other_blog">
                                    <h5>Om cánh gà, hãy thêm một thứ này vào đảm bảo ngon hơn</h5>
                                </a>
                                <span class="time_news time_blog_detail">12.01.2019</span>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="wrapper_next_blog wrapper_other_blog">


                                <a href="#" class="link_next_blog link_other_blog">Bài tiếp theo<span class="icon-right-arrow-1 icon_next_blog"></span></a>
                                <a href="" class="name_next_blog name_other_blog">
                                    <h5>Cà phê đá mà pha thế này thì vừa ngon vừa lạ, ai thử cũng ngạc nhiên!</h5>
                                </a>
                                <span class="time_news time_blog_detail">12.01.2019</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col_list_right">
                    <div class="row">
                        <div class="col-xl-12 col_search">
                            <div class="wrapper_search_posts">
                                <span class="icon-search icon_search_posts"></span>
                                <input class="form-control search_posts" type="text" placeholder="Tìm kiếm bài viết..." aria-label="Search">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 table_of_contents">
                            <div class="card card_table_contents">
                                <h5 class="tile_col_right">Mục lục</h5>
                                <ul class="list-group list-group-flush list_table_contents">

                                    <li class="list-group-item table_contents_item active">
                                        <span id="item_all_post" class="item_post "><a href="" class="active">Tất cả</a></span>
                                        <span id="view_all_post" class="view_post"></span>
                                    </li>
                                    <li class="list-group-item table_contents_item">
                                        <span id="" class="item_post"><a href="">Category 1</a></span>
                                        <span id="" class="view_post">63</span>
                                    </li>
                                    <li class="list-group-item table_contents_item">
                                        <span id="" class="item_post"><a href="">Category 2</a></span>
                                        <span id="" class="view_post">32</span>
                                    </li>
                                    <li class="list-group-item table_contents_item">
                                        <span id="" class="item_post"><a href="">Category 3</a></span>
                                        <span id="" class="view_post">20</span>
                                    </li>
                                    <li class="list-group-item table_contents_item">
                                        <span id="" class="item_post"><a href="">Category 4</a></span>
                                        <span id="" class="view_post">8</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 news">
                            <div class="card card_news">
                                <h5 class="tile_col_right">Tin tức gần đây</h5>
                                <ul class="list-group list-group-flush list_news">

                                    <li class="list-group-item news_item" id="news_1">


                                        <a href="#" class="link_news">
                                            <h6 class="category_news">Category 1</h6>
                                        </a>
                                        <span class="time_news">12.01.2019</span>
                                        <h5 class="content_news">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. At.
                                        </h5>

                                    </li>
                                    <li class="list-group-item news_item" id="news_1">


                                        <a href="#" class="link_news">
                                            <h6 class="category_news">Category 1</h6>
                                        </a>
                                        <span class="time_news">12.01.2019</span>
                                        <h5 class="content_news">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. At.
                                        </h5>

                                    </li>
                                    <li class="list-group-item news_item" id="news_1">


                                        <a href="#" class="link_news">
                                            <h6 class="category_news">Category 1</h6>
                                        </a>
                                        <span class="time_news">12.01.2019</span>
                                        <h5 class="content_news">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. At.
                                        </h5>

                                    </li>
                                    <li class="list-group-item news_item" id="news_1">


                                        <a href="#" class="link_news">
                                            <h6 class="category_news">Category 1</h6>
                                        </a>
                                        <span class="time_news">12.01.2019</span>
                                        <h5 class="content_news">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. At.
                                        </h5>

                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col_deal">
                            <div class="wrapper_img_deal">
                                <a href="#" class="link_deal"><img src="../images/deal.png" alt="" class="img_deal"></a>
                                <a href="#" class="label_img">Hot</a>
                                <a href="#" class="subtile">Chương trình giảm giá</a>
                                <a href="#" class="headline">Deal sock mỗi ngày khi order tại Moki</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- finish section_blog_into -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-xs-6 col_wrap_link">
                    <div class="col-link">
                        <h6 class="title_footer">Liên kết</h6>
                        <ul class="list_footer">
                            <li class="item_footer"><a href="homepage.html" class="link_item_footer">Trang chủ</a></li>
                            <li class="item_footer"><a href="" class="link_item_footer">Tạo thực đơn</a></li>
                            <li class="item_footer"><a href="cooking_recipe.html" class="link_item_footer active">Công thức nấu ăn</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-xs-6 col_wrap_link">
                    <div class="col-link">
                        <h6 class="title_footer">Sản phẩm</h6>
                        <ul class="list_footer">
                            <li class="item_footer"><a href="dish.html" class="link_item_footer">Đồ ăn</a></li>
                            <li class="item_footer"><a href="foods.html" class="link_item_footer">Thực phẩm</a></li>
                            <li class="item_footer"><a href="grocery.html" class="link_item_footer">Tạp hóa</a></li>
                            <li class="item_footer"><a href="party_menu.html" class="link_item_footer">Thực đơn tiệc</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-xs-6 col_wrap_link">
                    <div class="col-link">
                        <h6 class="title_footer">Liên kết khác</h6>
                        <ul class="list_footer">
                            <li class="item_footer"><a href="" class="link_item_footer ">Chính sách đổi trả</a></li>
                            <li class="item_footer"><a href="" class="link_item_footer">Chính sách sử dụng</a></li>
                            <li class="item_footer"><a href="" class="link_item_footer">Điều khoản bảo mật</a></li>
                            <li class="item_footer"><a href="" class="link_item_footer">Điều khoản sử dụng</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-6 col_wrap_link">
                    <div class="col-link">
                        <h6 class="title_footer">Liên hệ</h6>
                        <ul class="list_footer ">
                            <li class="item_footer"><a href="callto:092.715.1535" class="link_item_footer">(+84) 092.715.1535</a></li>
                            <li class="item_footer"><a href="mailto:lienhe@moki.com.vn" class="link_item_footer">lienhe@moki.com.vn</a></li>
                            <li class="item_footer"><a href="" class="link_item_footer">Số nhà 29/42 Trần Bình, Mai Dịch,<br> Cầu Giấy, Hà Nội</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-xs-12 col_wrap_link">
                    <div class="col-link">
                        <h6 class="title_footer">Follow us on</h6>
                        <ul class="list_footer list_follow">
                            <li class="item_footer"><a href="" class="link_item_footer"><span class="icon-facebook icon-follow"></span></a></li>
                            <li class="item_footer"><a href="" class="link_item_footer"><span class="icon-youtube icon-follow"></span></a></li>
                            <li class="item_footer"><a href="" class="link_item_footer"><span class="icon-twitter icon-follow"></span></a></li>
                            <li class="item_footer"><a href="" class="link_item_footer"><span class="icon-instagram icon-follow"></span></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- finish footer -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-xs-center">
                    <p class="copy_text">MOKI © A product of TalentWins 2020. All Rights Reserved.</p>
                </div>
            </div>
        </div>

    </div>
    <!-- finish copyright -->
    <div class="navbar-fixed-bottom navbar-fixed-chat">
        <div class="wrapper_btn_chat">
            <div class="btn btn-primary btn_chat float-xs-right" id="btn_messaging">
                <span class="icon-chat-2 icon-chat"></span>

            </div>
        </div>
        <div class="wrapper_messaging_popup" id="messaging_popup">
            <h3 class="title_messaging">
                <span>Hỏi đáp CSKH</span>
                <button type="" class="cancel_messaging"><span class="icon-cancel"></span></button>
            </h3>
            <div class="messaging">

                <div class="inbox_msg">
                    <div class="inbox_people">
                        <div class="headind_srch">
                            <div class="wrapper_search_posts">
                                <span class="icon-search icon_search_posts"></span>
                                <input class="form-control search_posts" type="text" placeholder="Tìm kiếm" aria-label="Search">
                            </div>

                        </div>
                        <div class="inbox_chat">

                            <div class="chat_list">
                                <div class="chat_people">
                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="chat_ib">
                                        <h5>Nhà hàng Talents Wind <span class="chat_date">3 giờ trước</span></h5>
                                        <p>Xác nhận đơn hàng mã số #78888 của ...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="chat_list">
                                <div class="chat_people">
                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="chat_ib">
                                        <h5>Nhà hàng Talents Wind <span class="chat_date">3 giờ trước</span></h5>
                                        <p>Xác nhận đơn hàng mã số #78888 của ...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="chat_list">
                                <div class="chat_people">
                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="chat_ib">
                                        <h5>Nhà hàng Talents Wind <span class="chat_date">3 giờ trước</span></h5>
                                        <p>Xác nhận đơn hàng mã số #78888 của ...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="chat_list">
                                <div class="chat_people">
                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="chat_ib">
                                        <h5>Nhà hàng Talents Wind <span class="chat_date">3 giờ trước</span></h5>
                                        <p>Xác nhận đơn hàng mã số #78888 của ...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="chat_list">
                                <div class="chat_people">
                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="chat_ib">
                                        <h5>Nhà hàng Talents Wind <span class="chat_date">3 giờ trước</span></h5>
                                        <p>Xác nhận đơn hàng mã số #78888 của ...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="chat_list">
                                <div class="chat_people">
                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="chat_ib">
                                        <h5>Nhà hàng Talents Wind <span class="chat_date">3 giờ trước</span></h5>
                                        <p>Xác nhận đơn hàng mã số #78888 của ...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="chat_list">
                                <div class="chat_people">
                                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="chat_ib">
                                        <h5>Nhà hàng Talents Wind <span class="chat_date">3 giờ trước</span></h5>
                                        <p>Xác nhận đơn hàng mã số #78888 của ...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mesgs">
                        <div class="chat_list active_chat">
                            <div class="chat_people">
                                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                <div class="chat_ib">
                                    <h5 class="title_active_chat">Nhà hàng Talents Wind
                                        <div class="status_active_chat"></div>
                                    </h5>
                                    <p>Online now</p>
                                </div>
                            </div>
                        </div>
                        <div class="msg_history">
                            <div class="incoming_msg">
                                <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                <div class="received_msg">
                                    <div class="received_withd_msg">
                                        <p>Lorem Ipsum is simply dummy text of the des printing and typesetting industry. Lorem psum has been the industry's standard dummy text ever since the 1500 when an unknown printer took a galley of type and scrambled
                                            it </p>
                                        <span class="time_date"> 3 phút trước</span></div>
                                </div>
                            </div>
                            <div class="outgoing_msg">
                                <div class="sent_msg">
                                    <p>Lorem Ipsum is simply dummy text of the des printing and typesetting industry. Lorem psum has been the industry's standard dummy text ever since the 1500 when an unknown printer took a galley of type and scrambled it
                                        </p>
                                    <span class="time_date"> 3 phút trước</span> </div>
                            </div>
                            <div class="incoming_msg">
                                <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                <div class="received_msg">
                                    <div class="received_withd_msg">
                                        <p>Test, which is a new approach to have</p>
                                        <span class="time_date"> 3 phút trước</span></div>
                                </div>
                            </div>
                            <div class="outgoing_msg">
                                <div class="sent_msg">
                                    <p>Apollo University, Delhi, India Test</p>
                                    <span class="time_date"> 3 phút trước</span> </div>
                            </div>
                            <div class="incoming_msg">
                                <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                <div class="received_msg">
                                    <div class="received_withd_msg">
                                        <p>Lorem Ipsum is simply dummy text of the des printing and typesetting industry. Lorem psum has been the industry's standard dummy text ever since the 1500 when an unknown printer took a galley of type and scrambled
                                            it</p>
                                        <span class="time_date"> 3 phút trước</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="type_msg">
                            <div class="input_msg_write">
                                <input class="form-control write_msg" type="text" placeholder="Nhập văn bản">

                                <button class="msg_send_btn" type="button"><span class="icon-right-arrow-1"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- finish btn chat -->
    <div class="navbar-fixed-bottom">
        <div class="btn btn-primary btn_ontop float-xs-right">
            <span class="icon-up-arrow-1 icon-ontop"></span>

        </div>
    </div>
    <!-- finish btn scroll top -->

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="../main/slick.js" charset="utf-8"></script>
    <script src="../main/slick-foods.js" charset="utf-8"></script>
    <script src="../main/view-cooking.js" charset="utf-8"></script>
    <script src="../main/chat.js" charset="utf-8"></script>




</body>

</html>