<!DOCTYPE html>
<html lang="en">

<head>
    <title> Thanh toán thành công </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../vendor/bootstrap.js"></script>
    <script src="../main/main.js"></script>
    <link rel="stylesheet" href="../vendor/bootstrap.css">
    <link rel="stylesheet" href="../vendor/font-awesome.css">
    <link rel="stylesheet" href="../css/cart_success.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../vendor/style.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">
</head>

<body>
    <div class="wrapper">
        <div class="cart_success">
            <div class="cart_success-icon">
                <i class="fas fa-check"></i>
            </div>
            <h4>Đặt hàng thành công</h4>
            <p>Yêu cầu của bạn đã được gửi đến nhà cung cấp. Chúng tôi sẽ liên hệ với bạn. Cảm ơn bạn!</p>
            <a href="../view/homepage.html"><button>Đóng</button></a>
        </div>
    </div>
</body>