<!DOCTYPE html>
<html lang="en">
<head>
	<title> Xác nhận tài khoản </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">  
	<script src="../vendor/bootstrap.js"></script>
 	<script src="../main/main.js"></script>
	<link rel="stylesheet" href="../vendor/bootstrap.css">
	<link rel="stylesheet" href="../vendor/font-awesome.css">
	<link rel="stylesheet" href="../vendor/style.css">
	<link rel="stylesheet" href="../css/login.css">
	<link rel="stylesheet" href="../css/account_login.css">
	<link rel="stylesheet" href="../css/confirm_account.css">
	<link rel="stylesheet" href="../css/chat.css">
	<link rel="stylesheet" href="../css/footer.css">
	<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
	<div class="wrapper_login">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-5 col-lg-4 col-md-4 col-sm-4 col-xs-12 display-none-mobile">
					<div class="col_banner_login">
						<a class="navbar-brand link_logo" href="homepage.html"><img class="img_logo " src="../images/logo_login.png" alt=""></a>
						<h1 class="title_banner_login">Nền tảng order đồ ăn trực tuyến Moki.com.vn</h1>
						<h5 class="banner_login_note">Ứng dụng sẽ cho phép các nhà cung cấp thiết lập các đơn vị cung cấp món ăn, thực phẩm trực tuyển (món ăn hằng ngày, thực phẩm, tạp hóa, các loại cơm văn phòng, đặt bàn tiệc, cỗ, ...)</h5>
						<div class="coppyright_banner">
							Coppyright © 2020 Moki. All Rights Reserved.
						</div>
					</div>
				</div>
				<div class="col-xl-7 col-lg-8 col-md-8 col-sm-8 col-xs-12 col_center_mobile">
					<div class="row">
						<div class="col-xl-12">
							<div class="col_main_login">
								<a class="navbar-brand link_logo" href="homepage.html"><img class="img_logo" src="../images/logo_moki.png" alt=""></a>
								<h1 class="title_">Xác nhận tài khoản</h1>
								<p class="">Chúng tôi vừa gửi mã xác nhận vào số điện thoại của bạn vui lòng kiểm tra và điền vào mẫu dưới</p>
								<form>
								  	<div class="form-group">
								    	
								    	
								    	<input type="text" class="form-control input_verification" id="exampleInputVerification" aria-describedby="" placeholder="Mã xác nhận">
								    	
								  	</div>
								  	
								  	
								  	<button type="submit" class="btn btn_choose btn_confirm_account">Xác nhận tài khoản</button>
								  	<p class="" style="text-align: center;">Chưa nhận được mã xác nhận? <a href="resend" class="btn_resend green_text">Gửi lại</a></p>
								  	
                                    
								</form>
							</div>
						</div>
					</div>				
				</div>
			</div>
		</div>
	</div>
	<div class="navbar-fixed-bottom navbar-fixed-chat">
		<div class="wrapper_btn_chat">
			<div class="btn btn-primary btn_chat float-xs-right" id="btn_messaging">
				<span class="icon-chat-2 icon-chat"></span>
				
			</div>
		</div>
		<div class="wrapper_messaging_popup" id="messaging_popup">
	        <h3 class="title_messaging">
	          <span>Hỏi đáp CSKH</span>
	          <button type="" class="cancel_messaging"><span class="icon-cancel"></span></button>
	        </h3>
	        <div class="messaging">

	            <div class="inbox_msg">
	              <div class="inbox_people">
	                <div class="headind_srch">
	                  <div class="wrapper_search_posts">
	                    <span class="icon-search icon_search_posts"></span>
	                    <input class="form-control search_posts" type="text" placeholder="Tìm kiếm" aria-label="Search">
	                  </div>
	                
	                </div>
	                <div class="inbox_chat">
	                
	                <div class="chat_list">
	                  <div class="chat_people">
	                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	                    <div class="chat_ib">
	                      <h5>Nhà hàng Talents Wind <span class="chat_date">3 giờ trước</span></h5>
	                      <p>Xác nhận đơn hàng mã số #78888 của ...</p>
	                    </div>
	                  </div>
	                </div>
	                <div class="chat_list">
	                  <div class="chat_people">
	                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	                    <div class="chat_ib">
	                      <h5>Nhà hàng Talents Wind <span class="chat_date">3 giờ trước</span></h5>
	                      <p>Xác nhận đơn hàng mã số #78888 của ...</p>
	                    </div>
	                  </div>
	                </div>
	                <div class="chat_list">
	                  <div class="chat_people">
	                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	                    <div class="chat_ib">
	                      <h5>Nhà hàng Talents Wind <span class="chat_date">3 giờ trước</span></h5>
	                      <p>Xác nhận đơn hàng mã số #78888 của ...</p>
	                    </div>
	                  </div>
	                </div>
	                <div class="chat_list">
	                  <div class="chat_people">
	                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	                    <div class="chat_ib">
	                      <h5>Nhà hàng Talents Wind <span class="chat_date">3 giờ trước</span></h5>
	                      <p>Xác nhận đơn hàng mã số #78888 của ...</p>
	                    </div>
	                  </div>
	                </div>
	                <div class="chat_list">
	                  <div class="chat_people">
	                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	                    <div class="chat_ib">
	                      <h5>Nhà hàng Talents Wind <span class="chat_date">3 giờ trước</span></h5>
	                      <p>Xác nhận đơn hàng mã số #78888 của ...</p>
	                    </div>
	                  </div>
	                </div>
	                <div class="chat_list">
	                  <div class="chat_people">
	                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	                    <div class="chat_ib">
	                      <h5>Nhà hàng Talents Wind <span class="chat_date">3 giờ trước</span></h5>
	                      <p>Xác nhận đơn hàng mã số #78888 của ...</p>
	                    </div>
	                  </div>
	                </div>
	                <div class="chat_list">
	                  <div class="chat_people">
	                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	                    <div class="chat_ib">
	                      <h5>Nhà hàng Talents Wind <span class="chat_date">3 giờ trước</span></h5>
	                      <p>Xác nhận đơn hàng mã số #78888 của ...</p>
	                    </div>
	                  </div>
	                </div>
	                </div>
	            </div>
	            <div class="mesgs">
	              <div class="chat_list active_chat">
	                <div class="chat_people">
	                  <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	                  <div class="chat_ib">
	                    <h5 class="title_active_chat">Nhà hàng Talents Wind <div class="status_active_chat"></div></h5>
	                    <p>Online now</p>
	                  </div>
	                </div>
	              </div>
	              <div class="msg_history">
	                <div class="incoming_msg">
	                  <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	                  <div class="received_msg">
	                    <div class="received_withd_msg">
	                      <p>Lorem Ipsum is simply dummy text of the des printing and typesetting industry. Lorem psum has been the industry's standard dummy text ever since the 1500 when an unknown printer took a galley of type and scrambled it </p>
	                      <span class="time_date"> 3 phút trước</span></div>
	                  </div>
	                </div>
	                <div class="outgoing_msg">
	                  <div class="sent_msg">
	                    <p>Lorem Ipsum is simply dummy text of the des printing and typesetting industry. Lorem psum has been the industry's standard dummy text ever since the 1500 when an unknown printer took a galley of type and scrambled it </p>
	                    <span class="time_date"> 3 phút trước</span> </div>
	                </div>
	                <div class="incoming_msg">
	                  <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	                  <div class="received_msg">
	                    <div class="received_withd_msg">
	                      <p>Test, which is a new approach to have</p>
	                      <span class="time_date"> 3 phút trước</span></div>
	                  </div>
	                </div>
	                <div class="outgoing_msg">
	                  <div class="sent_msg">
	                    <p>Apollo University, Delhi, India Test</p>
	                    <span class="time_date"> 3 phút trước</span> </div>
	                </div>
	                <div class="incoming_msg">
	                  <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	                  <div class="received_msg">
	                    <div class="received_withd_msg">
	                      <p>Lorem Ipsum is simply dummy text of the des printing and typesetting industry. Lorem psum has been the industry's standard dummy text ever since the 1500 when an unknown printer took a galley of type and scrambled it</p>
	                      <span class="time_date"> 3 phút trước</span></div>
	                  </div>
	                </div>
	              </div>
	              <div class="type_msg">
	                <div class="input_msg_write">
	                  <input class="form-control write_msg" type="text" placeholder="Nhập văn bản">
	                  
	                  <button class="msg_send_btn" type="button"><span class="icon-right-arrow-1"></span></button>
	                </div>
	              </div>
	            </div>
	        </div>
	      </div>
	    </div>
	</div> <!-- finish btn chat -->
	
	<script src="../main/show-hide.js" charset="utf-8"></script>
	<script src="../main/chat.js" charset="utf-8"></script>
</body>
</html>