<!DOCTYPE html>
<html lang="en">
<head>
	<title> Đăng ký thông tin trở thành nhà cung cấp </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">  
	<script src="../vendor/bootstrap.js"></script>
 	<script src="../main/main.js"></script>
	<link rel="stylesheet" href="../vendor/bootstrap.css">
	<link rel="stylesheet" href="../vendor/font-awesome.css">
	<link rel="stylesheet" href="../vendor/style.css">
	<link rel="stylesheet" href="../css/login.css">
	<link rel="stylesheet" href="../css/account_login.css">
	<link rel="stylesheet" href="../css/registration.css">
	<link rel="stylesheet" href="../css/registration_supplier.css">
	<link rel="stylesheet" href="../css/chat.css">
	<link rel="stylesheet" href="../css/footer.css">
	<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
	<div class="wrapper_login">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-5 col-lg-4 col-md-4 col-sm-4 col-xs-12 display-none-mobile">
					<div class="col_banner_login">
						<a class="navbar-brand link_logo" href="homepage.html"><img class="img_logo " src="../images/logo_login.png" alt=""></a>
						<h1 class="title_banner_login">Nền tảng order đồ ăn trực tuyến Moki.com.vn</h1>
						<h5 class="banner_login_note">Ứng dụng sẽ cho phép các nhà cung cấp thiết lập các đơn vị cung cấp món ăn, thực phẩm trực tuyển (món ăn hằng ngày, thực phẩm, tạp hóa, các loại cơm văn phòng, đặt bàn tiệc, cỗ, ...)</h5>
						<div class="coppyright_banner">
							Coppyright © 2020 Moki. All Rights Reserved.
						</div>
					</div>
				</div>
				<div class="col-xl-7 col-lg-8 col-md-8 col-sm-8 col-xs-12 col_center_mobile">
					<div class="row">
						<div class="col-xl-12 no-padding">
							<div class="col_main_login">
								<a class="navbar-brand link_logo" href="homepage.html"><img class="img_logo" src="../images/logo_moki.png" alt=""></a>
								<h1 class="title_">Đăng ký trở thành nhà cung cấp</h1>
								<p class="">Bạn đã có tài khoản? <a href="login.html" class="link_login green_text">Đăng nhập</a></p>
								<form>
									<div class="form-group">
								    	<label for="exampleInputName1" class="pannel_title">Tên nhà hàng/ Quán ăn <small class="obligatory">*</small></label>
								    	
								    	<input type="email" class="form-control" id="exampleInputName1" aria-describedby="" placeholder="VD: Nhà hàng Talentwins">
								    	
								  	</div>
								  	
								  	<div class="form-group form-group-gender form-group-field">
								  		<label for="exampleInputGender1" class="pannel_title">Lĩnh vực </label>
								  		<div class="form_check_gender">
										  	
											<div class="form-check form-check-inline form_check_inline">
											  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
											  <label class="form-check-label" for="inlineRadio1">Đồ ăn</label>
											</div>
											<div class="form-check form-check-inline form_check_inline">
											  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
											  <label class="form-check-label" for="inlineRadio2">Thực phẩm</label>
											</div>
											<div class="form-check form-check-inline form_check_inline">
											  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
											  <label class="form-check-label" for="inlineRadio3">Tạp hóa</label>
											</div>
										</div>
									</div>
									<div class="form-group">
								    	<label for="exampleInputEmail1" class="pannel_title">Địa chỉ kinh doanh</label>
								    	
								    	<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="" placeholder="VD: nguyenvana@gmail.com">
								    	
								  	</div>
								  	<div class="wrapper_form_address">
								  		
								  	
									  	<div class="form-group form_group_district">
										    <label for="exampleFormControlSelect1">Quận/ huyện <small class="obligatory">*</small></label>
										    <select class="form-control select_district" id="exampleFormControlSelect1">
										      <option value="" disabled selected>Vui lòng lựa chọn</option>
										      <option>Hà Đông</option>
										      <option>Thanh Xuân</option>
										      <option>Hoàng Mai</option>
										      <option>Cầu Giấy</option>
										    </select>
										</div>
										<div class="form-group form_group_provin">
										    <label for="exampleFormControlSelect2">Tỉnh/ TP <small class="obligatory">*</small></label>
										    <select class="form-control select_provin" id="exampleFormControlSelect2">
										      <option value="" disabled selected>Vui lòng lựa chọn</option>
										      <option>Hà Nội</option>
										      <option>TP. Hồ Chí Minh</option>
										      <option>Hải Phòng</option>
										      <option>Quảng Ninh</option>
										    </select>
										</div>
										

									</div>
									<div class="wrapper_form_business">
										<div class="form-group form_group_business">
										    <label for="exampleFormControlSelect2">Loại hình kinh doanh <small class="obligatory">*</small></label>
										    <select class="form-control select_provin" id="exampleFormControlSelect2">
										      <option value="" disabled selected>Vui lòng lựa chọn</option>
										      <option>Nhà hàng</option>
										      <option>..</option>
										      <option>...</option>
										      <option>...</option>
										    </select>
										</div>
										<div class="form-group form_group_branch">
									    	<label for="exampleInputBranch" class="pannel_title">Số lượng chi nhánh </label>
									    	
									    	<input type="" class="form-control" id="exampleInputBranch" aria-describedby="" placeholder="2-100">
									    	
									  	</div>
									</div>
									
								  	<div class="form-group">
								    	<label for="exampleInputPhone1" class="pannel_title">Người đại diện pháp lý <small class="obligatory">*</small></label>
								    	
								    	<input type="" class="form-control" id="exampleInputPhone1" aria-describedby="" placeholder="VD: Nguyễn Văn A">
								    	
								  	</div>
								  	<div class="wrapper_form_contact">
								  		
								  	
									  	
									  	<div class="form-group">
									    	<label for="exampleInputPhone1" class="pannel_title">Số điện thoại <small class="obligatory">*</small></label>
									    	
									    	<input type="email" class="form-control" id="exampleInputPhone1" aria-describedby="" placeholder="0919 919 9119">
									    	
									  	</div>
										<div class="form-group">
									    	<label for="exampleInputEmail1" class="pannel_title">Email <small class="obligatory">*</small></label>
									    	
									    	<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="" placeholder="VD: nguyenvana@gmail.com">
									    	
									  	</div>

									</div>
								  	
								  	
								  	<button onclick="location.href='confirm_account.html'" type="button" class="btn btn_choose btn_registration">Đăng ký</button>
								  
								  	
                                    
								</form>
							</div>
						</div>
					</div>				
				</div>
			</div>
		</div>
	</div>
	<div class="navbar-fixed-bottom navbar-fixed-chat">
		<div class="wrapper_btn_chat">
			<div class="btn btn-primary btn_chat float-xs-right" id="btn_messaging">
				<span class="icon-chat-2 icon-chat"></span>
				
			</div>
		</div>
		<div class="wrapper_messaging_popup" id="messaging_popup">
	        <h3 class="title_messaging">
	          <span>Hỏi đáp CSKH</span>
	          <button type="" class="cancel_messaging"><span class="icon-cancel"></span></button>
	        </h3>
	        <div class="messaging">

	            <div class="inbox_msg">
	              <div class="inbox_people">
	                <div class="headind_srch">
	                  <div class="wrapper_search_posts">
	                    <span class="icon-search icon_search_posts"></span>
	                    <input class="form-control search_posts" type="text" placeholder="Tìm kiếm" aria-label="Search">
	                  </div>
	                
	                </div>
	                <div class="inbox_chat">
	                
	                <div class="chat_list">
	                  <div class="chat_people">
	                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	                    <div class="chat_ib">
	                      <h5>Nhà hàng Talents Wind <span class="chat_date">3 giờ trước</span></h5>
	                      <p>Xác nhận đơn hàng mã số #78888 của ...</p>
	                    </div>
	                  </div>
	                </div>
	                <div class="chat_list">
	                  <div class="chat_people">
	                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	                    <div class="chat_ib">
	                      <h5>Nhà hàng Talents Wind <span class="chat_date">3 giờ trước</span></h5>
	                      <p>Xác nhận đơn hàng mã số #78888 của ...</p>
	                    </div>
	                  </div>
	                </div>
	                <div class="chat_list">
	                  <div class="chat_people">
	                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	                    <div class="chat_ib">
	                      <h5>Nhà hàng Talents Wind <span class="chat_date">3 giờ trước</span></h5>
	                      <p>Xác nhận đơn hàng mã số #78888 của ...</p>
	                    </div>
	                  </div>
	                </div>
	                <div class="chat_list">
	                  <div class="chat_people">
	                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	                    <div class="chat_ib">
	                      <h5>Nhà hàng Talents Wind <span class="chat_date">3 giờ trước</span></h5>
	                      <p>Xác nhận đơn hàng mã số #78888 của ...</p>
	                    </div>
	                  </div>
	                </div>
	                <div class="chat_list">
	                  <div class="chat_people">
	                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	                    <div class="chat_ib">
	                      <h5>Nhà hàng Talents Wind <span class="chat_date">3 giờ trước</span></h5>
	                      <p>Xác nhận đơn hàng mã số #78888 của ...</p>
	                    </div>
	                  </div>
	                </div>
	                <div class="chat_list">
	                  <div class="chat_people">
	                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	                    <div class="chat_ib">
	                      <h5>Nhà hàng Talents Wind <span class="chat_date">3 giờ trước</span></h5>
	                      <p>Xác nhận đơn hàng mã số #78888 của ...</p>
	                    </div>
	                  </div>
	                </div>
	                <div class="chat_list">
	                  <div class="chat_people">
	                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	                    <div class="chat_ib">
	                      <h5>Nhà hàng Talents Wind <span class="chat_date">3 giờ trước</span></h5>
	                      <p>Xác nhận đơn hàng mã số #78888 của ...</p>
	                    </div>
	                  </div>
	                </div>
	                </div>
	            </div>
	            <div class="mesgs">
	              <div class="chat_list active_chat">
	                <div class="chat_people">
	                  <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	                  <div class="chat_ib">
	                    <h5 class="title_active_chat">Nhà hàng Talents Wind <div class="status_active_chat"></div></h5>
	                    <p>Online now</p>
	                  </div>
	                </div>
	              </div>
	              <div class="msg_history">
	                <div class="incoming_msg">
	                  <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	                  <div class="received_msg">
	                    <div class="received_withd_msg">
	                      <p>Lorem Ipsum is simply dummy text of the des printing and typesetting industry. Lorem psum has been the industry's standard dummy text ever since the 1500 when an unknown printer took a galley of type and scrambled it </p>
	                      <span class="time_date"> 3 phút trước</span></div>
	                  </div>
	                </div>
	                <div class="outgoing_msg">
	                  <div class="sent_msg">
	                    <p>Lorem Ipsum is simply dummy text of the des printing and typesetting industry. Lorem psum has been the industry's standard dummy text ever since the 1500 when an unknown printer took a galley of type and scrambled it </p>
	                    <span class="time_date"> 3 phút trước</span> </div>
	                </div>
	                <div class="incoming_msg">
	                  <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	                  <div class="received_msg">
	                    <div class="received_withd_msg">
	                      <p>Test, which is a new approach to have</p>
	                      <span class="time_date"> 3 phút trước</span></div>
	                  </div>
	                </div>
	                <div class="outgoing_msg">
	                  <div class="sent_msg">
	                    <p>Apollo University, Delhi, India Test</p>
	                    <span class="time_date"> 3 phút trước</span> </div>
	                </div>
	                <div class="incoming_msg">
	                  <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
	                  <div class="received_msg">
	                    <div class="received_withd_msg">
	                      <p>Lorem Ipsum is simply dummy text of the des printing and typesetting industry. Lorem psum has been the industry's standard dummy text ever since the 1500 when an unknown printer took a galley of type and scrambled it</p>
	                      <span class="time_date"> 3 phút trước</span></div>
	                  </div>
	                </div>
	              </div>
	              <div class="type_msg">
	                <div class="input_msg_write">
	                  <input class="form-control write_msg" type="text" placeholder="Nhập văn bản">
	                  
	                  <button class="msg_send_btn" type="button"><span class="icon-right-arrow-1"></span></button>
	                </div>
	              </div>
	            </div>
	        </div>
	      </div>
	    </div>
	</div> <!-- finish btn chat -->
	
	<script src="../main/show-hide.js" charset="utf-8"></script>
	<script src="../main/chat.js" charset="utf-8"></script>
</body>
</html>