<!DOCTYPE html>
<html lang="en">
<head>
	<title> Đăng ký </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">  
	<script src="../vendor/bootstrap.js"></script>
 	<script src="../main/main.js"></script>
	<link rel="stylesheet" href="../vendor/bootstrap.css">
	<link rel="stylesheet" href="../vendor/font-awesome.css">
	<link rel="stylesheet" href="../vendor/style.css">
	<link rel="stylesheet" href="../css/login.css">
	<link rel="stylesheet" href="../css/account_login.css">
	<link rel="stylesheet" href="../css/registration.css">
	<link rel="stylesheet" href="../css/footer.css">
	<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
	<div class="wrapper_login">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-5 col-lg-4 col-md-4 col-sm-4 col-xs-12 display-none-mobile">
					<div class="col_banner_login">
						<a class="navbar-brand link_logo" href="homepage.html"><img class="img_logo " src="../images/logo_login.png" alt=""></a>
						<h1 class="title_banner_login">Nền tảng order đồ ăn trực tuyến Moki.com.vn</h1>
						<h5 class="banner_login_note">Ứng dụng sẽ cho phép các nhà cung cấp thiết lập các đơn vị cung cấp món ăn, thực phẩm trực tuyển (món ăn hằng ngày, thực phẩm, tạp hóa, các loại cơm văn phòng, đặt bàn tiệc, cỗ, ...)</h5>
						<div class="coppyright_banner">
							Coppyright © 2020 Moki. All Rights Reserved.
						</div>
					</div>
				</div>
				<div class="col-xl-7 col-lg-8 col-md-8 col-sm-8 col-xs-12 col_center_mobile">
					<div class="row">
						<div class="col-xl-12">
							<div class="col_main_login">
								<a class="navbar-brand link_logo" href="homepage.html"><img class="img_logo" src="../images/logo_moki.png" alt=""></a>
								<h1 class="title_">Đăng ký</h1>
								<p class="">Bạn đã có tài khoản? <a href="login.html" class="link_login green_text">Đăng nhập</a></p>
								<form>
									<div class="form-group">
								    	<label for="exampleInputName1" class="pannel_title">Họ và tên <small class="obligatory">*</small></label>
								    	
								    	<input type="email" class="form-control" id="exampleInputName1" aria-describedby="" placeholder="VD: Nguyễn Văn A">
								    	
								  	</div>
								  	<div class="form-group">
								    	<label for="exampleInputEmail1" class="pannel_title">Email <small class="obligatory">*</small></label>
								    	
								    	<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="" placeholder="VD: nguyenvana@gmail.com">
								    	
								  	</div>
								  	<div class="form-group">
								    	<label for="exampleInputPhone1" class="pannel_title">Số điện thoại <small class="obligatory">*</small></label>
								    	
								    	<input type="email" class="form-control" id="exampleInputPhone1" aria-describedby="" placeholder="0919 919 9119">
								    	
								  	</div>
								  	<div class="form-group">
								    	<label for="exampleInputPhone1" class="pannel_title">Ngày sinh </label>
								    	
								    	<input type="email" class="form-control" id="exampleInputPhone1" aria-describedby="" placeholder="DD/MM/YYYY">
								    	
								  	</div>
								  	<div class="form-group form-group-gender">
								  		<label for="exampleInputGender1" class="pannel_title">Giới tính </label>
								  		<div class="form_check_gender">
										  	
											<div class="form-check form-check-inline form_check_inline">
											  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
											  <label class="form-check-label" for="inlineRadio1">Nam</label>
											</div>
											<div class="form-check form-check-inline form_check_inline">
											  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
											  <label class="form-check-label" for="inlineRadio2">Nữ</label>
											</div>
											<div class="form-check form-check-inline form_check_inline">
											  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
											  <label class="form-check-label" for="inlineRadio3">Khác</label>
											</div>
										</div>
									</div>
								  	<div class="form-group">
								    	<label for="exampleInputPassword1" class="pannel_title">Mật khẩu <small class="obligatory">*</small></label>
								    
              							<div class="wrapper_password">
									    	
									    	<input id="password-field" type="password" class="form-control" name="password"  placeholder="Mật khẩu từ 6-32 ký tự">
									    	<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
								    	</div>
								  	</div>
								  	<div class="form-group">
								    	<label for="exampleInputPassword1" class="pannel_title">Xác nhận mật khẩu <small class="obligatory">*</small></label>
								    
              							<div class="wrapper_password">
									    	
									    	<input id="password-field" type="password" class="form-control" name="password2"  placeholder="Mật khẩu từ 6-32 ký tự">
									    	<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
								    	</div>
								  	</div>
								  	<button type="submit" class="btn btn_choose btn_registration" onclick="window.location.href='confirm_account.html'">Đăng ký</button>
                                    
								</form>
							</div>
						</div>
					</div>				
				</div>
			</div>
		</div>
	</div>
	<div class="navbar-fixed-bottom navbar-fixed-chat">
		<a href="" class="btn btn-primary btn_chat float-xs-right">
			<span class="icon-chat-2 icon-chat"></span>
		</a>
	</div> <!-- finish btn chat -->
	<script src="../main/show-hide.js" charset="utf-8"></script>
</body>
</html>